html, body {
  height: 100%;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

h1 {
  color: #4d4dff;
}

h3 {
  color: #8080ff;
}

ul {
  text-align: left;
}

img {
  border-radius: 8px;
  width: 400px;
  height: 300px;
}